{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/style/style.css">
    <link rel="stylesheet" href="/static/style/swiper-bundle.min.css"
    />
    <title>Good beavers</title>
</head>
<body>

<div class="wrapper">
    <header class="header container">
        <img src="/static/img/logo.jpg" alt="logo" class="header__logo">
        <nav class="nav not-adaptive">
            <ul class="menu__item">
                <li class="menu__link ua_lang ">
                    <a href="#">About the fund</a>
                </li>

                <li class="menu__link ua_lang ">
                    <a href="#">Support the Armed Forces of Ukraine</a>

                </li>

            </ul>
        </nav>
        <div class="hamburger-menu">
            <input id="menu__toggle" type="checkbox"/>
            <label class="menu__btn" for="menu__toggle">
                <span></span>
            </label>
            <ul class="menu__box">
                <li><a class="menu__link" href="#">Про фонд</a></li>
                <li><a class="menu__link" href="#">Підтримати ЗСУ</a></li>
                <div class="header__btn-box ">
                    <a href="#" class="header__btn site-btn"> To help</a>
                </div>
                <div class="header__btn-change-lang ">
                    <p class="current-lang">Ua</p>
                    <div class="options options-hide">
                        <p class="options-lang">Українська</p>
                        <p class="options-lang">English</p>
                    </div>
                </div>

            </ul>

        </div>
        <div class="header__btn-change-lang not-adaptive">
            <a class="current-lang" href="/">Ua</a>
            <div class="options options-hide">
                <p class="options-lang">Українська</p>
                <p class="options-lang">English</p>
            </div>
        </div>
        <div class="header__btn-box not-adaptive">
            <a href="#" class="header__btn site-btn"> To help</a>
        </div>
    </header>
    <main class="content">

        <section class="hero ">
            <div class="hero__container container">
                <div class="hero_swiper swiper mySwiper">
                    <div class=" hero_swiper-wrapper swiper-wrapper">
                        <div class="swiper-slide">
                            <img class="hero__slider-img" src="/static/img/1655734738_30.jpg" alt="">
                            <h2 class="hero-title"><span class="hero-title-custom">Благодійний фонд:</span> Добрі Бобри
                            </h2>
                        </div>
                        <div class="swiper-slide">
                            <img class="hero__slider-img" src="/static/img/1655734738_30.jpg" alt="">
                            <h2 class="hero-title"><span class="hero-title-custom">Благодійний фонд:</span> Добрі Бобри
                            </h2>
                        </div>
                        <div class="swiper-slide">
                            <img class="hero__slider-img" src="/static/img/1655734738_30.jpg" alt="">
                            <h2 class="hero-title"><span class="hero-title-custom">Благодійний фонд:</span> Добрі Бобри
                            </h2>
                        </div>
                        <div class="swiper-slide">
                            <img class="hero__slider-img" src="/static/img/1655734738_30.jpg" alt="">
                            <h2 class="hero-title"><span class="hero-title-custom">Благодійний фонд:</span> Добрі Бобри
                            </h2>
                        </div>

                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>

        </section>

        <section class="about-us container">
            <div class="about-us-title">
                Про фонд
            </div>
            <div class="about-us-row">

                <div class="about-us-info">
                    <p> Мене звати Андрій Бобруйко.Хочу поділитися з Вами приємною новиною, тепер ми допомагаємо ЗСУ та
                        людям з деокупованих територій офіційно) В цьому каналі будуть публікуватися збори фонду та
                        звіти по ним. Буду безмежно вдячний за допомогу та поширення інформації
                    </p>
                    <div class="about-us-info-button">
                        <a href="https://t.me/dobribobry" class="about-us-info-link site-btn">
                            Детальніше
                        </a>
                    </div>
                </div>
                <div class="about-us-img">
                    <img src="/static/img/logo.jpg" alt="logo" class="about-us-logo">
                </div>
            </div>

        </section>

        <section class="project ">
            {% block img %}
                <div class="project__container container">
                    <h2 class="actual__project-title">
                        Актуальні проекти:
                    </h2>
                    {% for product in products %}
                        <div class="actual__project-table">
                            <div class="project-item">
                                <div class="project__img">
                                    <img class="project__img" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                                </div>
                                <div class="project__body">
                                    <div class="project-info">
                                        <div class="project-item__title">{{ product.name }}</div>
                                        <div class="project-item__text">{{ product.description }}
                                        </div>
                                    </div>
                                </div>
                                <a href="" class="project-item-btn site-btn ">
                                    Допомогти
                                </a>
                                <div class="project-item-btn-block">
                                </div>
                            </div>
                        </div>
                        </div>
                    {% endfor %}
            {% endblock %}
        </section>
        <section class="infographic ">
            <div class="infographic__container container">
                <h2 class="infographic__title">
                    Статистика допомоги фондом
                </h2>
                <div class="infographic__row">

                    <div class="infographic__item">
                        <div class="infographic__item-count">
                            4.561+
                            <span class="infographic__item-count-sub-text">млрд грн</span>
                        </div>
                        <div class="infographic__item-count-info">
                            зібрано на потреби армії з 2014 року
                        </div>
                        <img class="infographic__item-img" src="/static/img/widget-1.jpg" alt="">
                    </div>
                    <div class="infographic__item">
                        <div class="infographic__item-count">
                            4.561+
                            <span class="infographic__item-count-sub-text">млрд грн</span>
                        </div>
                        <div class="infographic__item-count-info">
                            зібрано на потреби армії з 2014 року
                        </div>
                        <img class="infographic__item-img" src="/static/img/widget-1.jpg" alt="">

                    </div>
                    <div class="infographic__item">
                        <div class="infographic__item-count">
                            4.561+
                            <span class="infographic__item-count-sub-text">млрд грн</span>
                        </div>
                        <div class="infographic__item-count-info">
                            зібрано на потреби армії з 2014 року
                        </div>
                        <img class="infographic__item-img" src="/static/img/widget-1.jpg" alt="">

                    </div>

                </div>
            </div>
        </section>
        <section class="what-we-do container">

            <div class="what-we-do-row">
                <div class="what-we-do-item">
                    <div class="what-we-do-item-title">
                        Місія
                    </div>
                    <div class="what-we-do-item-sub-title">
                        Перемога України на всіх фронтах: гуманітарному, соціальному, економічному, просвітницькому.
                        Протидія наслідкам війни та щоденна відбудова прогресивної, успішної та найкомфортнішої країни
                        для кожного мешканця та нащадків, а також просування нашої країни, як вдячного партнера та
                        лідера на міжнародній арені.
                    </div>
                </div>
                <div class="what-we-do-item">
                    <div class="what-we-do-item-title">
                        Філософія
                    </div>
                    <div class="what-we-do-item-sub-title">
                        Змін не треба чекати — їх треба творити! Об’єднавши зусилля — отримаємо масштабніші результати.
                        Разом відбудуємо квітучу Україну!
                    </div>


                </div>
                <div class="what-we-do-item ">
                    <div class="what-we-do-item-title">
                        Вектор діяльності
                    </div>
                    <div class="what-we-do-item-sub-title">
                        Благодійний фонд «Добрі Бобри» - це фонд-хаб, який об’єднує людей, ресурси, ідеї, можливості,
                        щоб у синергії реалізовувати комплексні національні та міжнародні соціальні проекти.
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer ">
        <div class="footer__container container">
            <div class="footer__column">
                <div class="footer__column-title-item">
                    <img src="/static/img/logo.jpg" alt="" class="footer__column-patronat-logo">
                    <h2 class="footer__column-title">
                        Бф Добрі Бобри
                    </h2>

                </div>
                <div class="footer__column-patronat-text">
                    За підтримки
                </div>
                <div class="footer__column-patronat">
                    <img src="/static/img/logo.jpg" alt="" class="footer__column-patronat-logo">
                    <h2 class="footer__column-patronat-name">
                        Patronat
                    </h2>

                </div>
            </div>
            <div class="footer__column">
                <div class="footer__column-phone-item">
                    <p class="footer__column-phone-text">
                        Гаряча Лінія:
                    </p>
                    <p class="footer__column-phone">
                        +380 000 000 00 00
                    </p>
                </div>
                <div class="footer__column__social-link">
                    <div class="footer__column__social-link-item">
                        <img src="/static/img/free-icon-facebook-733547.png" alt="facebook"
                             class="footer__column__social-link-logo">
                        <a href="#" class="footer__column__social-name">Фейсбук</a>
                    </div>
                    <div class="footer__column__social-link-item">
                        <img src="/static/img/free-icon-instagram-1384063.png" alt="instagram"
                             class="footer__column__social-link-logo">
                        <a href="#" class="footer__column__social-name">Інстаграм</a>
                    </div>
                    <div class="footer__column__social-link-item">
                        <img src="/static/img/telegram.png" alt="instagram" class="footer__column__social-link-logo">
                        <a href="#" class="footer__column__social-name">Телеграм</a>
                    </div>
                </div>
            </div>
            <div class="footer__column footer__column-help">
                <p class="footer__column-help-text">
                    Будемо раді вашій <br> підтримці
                </p>
                <a href="" class="footer__column-button site-btn">
                    Допомогти
                </a>
            </div>
        </div>
    </footer>
</div>


<script src="/static/js/swiper-bundle.min.js"></script>
<script src="/static/js/main.js"></script>
</body>
</html>